@import "@fontsource/geist-mono/400.css";
@import "@fontsource/geist-mono/600.css";

@import "@fontsource/martian-mono";

@font-face {
    font-family: "Martian Mono VF";
    src: url("assets/fonts/MartianMonoVF.woff2") format("woff2");
    font-weight: 100 800;
    font-stretch: 75% 112.5%;
    font-style: normal;
    font-display: swap;
}
