/* IBM Plex Mono - Regular (400) and SemiBold (600) only */

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@ibm/plex-mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2') format('woff2'),
       url('@ibm/plex-mono/fonts/complete/woff/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@ibm/plex-mono/fonts/complete/woff2/IBMPlexMono-SemiBold.woff2') format('woff2'),
       url('@ibm/plex-mono/fonts/complete/woff/IBMPlexMono-SemiBold.woff') format('woff');
}
